/*
font-family: 'Nunito', sans-serif;  == WEBSITE CONTENT
*/

*{
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #39393A;
    z-index: 0;
}

::-webkit-scrollbar{
    width: 0px;
}

.topHeader{
    background-color: #2B2B2C;
    height: fit-content;
    width: fit-content;
    position: sticky;
    top: 0;
    padding: 10px;
    margin-bottom: 5px;
    border-bottom-right-radius: 1rem;
    box-shadow: 0px 0px 10px #1D1D1D;
    transition-duration: 1000ms;
    z-index: 3;
}
.topHeader:hover{
    box-shadow: 0px 0px 50px #1D1D1D;
    transition-duration: 250ms;
}

.workspace{
    display: flex;
    z-index: 0;
}

.commandArea{
    flex: 4;
    margin: 10px;
    z-index: 0;
}

.variablePanel{
    flex: 1;
    background-color: #323233;
    padding: 3vh;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    height: fit-content;
    width: fit-content;
    max-height: 80vh;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    box-shadow: 0px 0px 10px #1D1D1D;
    transition-duration: 1000ms;
    z-index: 3;
}
.variablePanel:hover{
    box-shadow: 0px 0px 10px #0F0F0F;
    transition-duration: 250ms;
}

.variable{
    background-color: #323233;
    width: fit-content;
    padding: 7px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    border-radius: 0.3rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    box-shadow: 0px 0px 10px #0F0F0F;
    transition-duration: 1000ms;
    z-index: 4;
}
.variable:hover{
    box-shadow: 0px 0px 50px #0F0F0F;
    transition-duration: 250ms;
}

.logo{
    font-size: 2.5vh;
    transition-duration: 500ms;
}
.logo:hover{
    font-size: 3vh;
    transition-duration: 250ms;
}

.qAset{
    margin: 5px;
}

.iA_UIelements{
    display: flex;
}

.index{
    flex: 1;
    font-size: 3vh;
    font-weight: bolder;
    text-shadow: 0px 0px 10px #0F0F0F;
}

.splitter{
    flex: 10;
}

.delBlock{
    flex: 1;
    color: #FF715B;
    font-size: 3vh;
    font-weight: bolder;
    text-shadow: 0px 0px 10px #0F0F0F;
    transition-duration: 500ms;
}
.delBlock:hover{
    font-size: 4vh;
    transition-duration: 250ms;
}

.inputArea{
    background-color: #2B2B2C;
    position: sticky;
    padding: 10px;
    border-radius: 0.3rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px #1D1D1D;
    transition-duration: 1000ms;
    z-index: 4;
}
.inputArea:hover{
    box-shadow: 0px 0px 50px #1D1D1D;
    transition-duration: 250ms;
}

.outputArea{
    background-color: #323233;
    width: 90%;
    padding: 10px;
    border-radius: 0.3rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    box-shadow: 0px 0px 10px #1D1D1D;
    transition-duration: 1000ms;
    z-index: 3;
}
.outputArea:hover{
    box-shadow: 0px 0px 10px #0F0F0F;
    transition-duration: 250ms;
}

.inputDisplay{
    font-size: 2vh;
    transition-duration: 500ms;
}
.inputDisplay:hover{
    font-size: 3vh;
    transition-duration: 250ms;
}

.userInput{
    background-color: #2B2B2C;
    color: #8F8F8F;
    border: none;
    outline: none;
}

#logoPro{
    font-family: 'Nunito', sans-serif;
    color: #33D7CC;
}

#logoCalc{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: #FF715B;
}