*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #020100;
    font-size: max(1.3vw, 10px);
}

body{
    background-color: #ffffff;
}

em{
    font-size: max(1.83vw, 14px);
    background-color: #ffffff;
    font-style: normal;
    color: #643173;
    text-shadow: 5px 5px 3px rgb(179, 179, 179), 5px 5px 5px rgb(179, 179, 179);
    transition: ease 1s;
    border-radius: 5px;
}

em#codeSnippet{
    background-color: #e2e2e2;
    font-family: 'Consolas', sans-serif;
    border-radius: 5px;
    color: #020100;
}

em#codeSnippet:hover{
    background-color: #cacaca;
    color: #DB324D;
    border-radius: 15px;
}

em:hover{
    background-color: #FF8C42;
    text-shadow: none;
    transition: ease 1s;
    border-radius: 20px;
}

em.wCrypt_s:hover{
    background-color: #FFFFFF;
}

.titleContainer{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wCrypt{
    color:#020100;
    padding: 2px;
    font-size: max(10vw, 77px);
    transition: ease 3s;
    font-family: 'Akaya Kanadaka', 'Comic Sans MS', cursive;
    text-shadow: 5px 5px 3px rgb(179, 179, 179), 5px 5px 5px rgb(179, 179, 179);
}

.wCrypt_s{
    padding: 1px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: max(2vw, 15.3px);
    color: #020100;
    transition: ease 5s;
    font-family: 'Akaya Kanadaka', 'Comic Sans MS', cursive;
    text-shadow: none;
}

.head_mid{
    color:#020100;
    padding: 2px;
    font-size: max(5vw, 38.5px);
    transition: ease 3s;
    font-family: 'Akaya Kanadaka', 'Comic Sans MS', cursive;
    text-shadow: 5px 5px 3px rgb(179, 179, 179), 5px 5px 5px rgb(179, 179, 179);
}

.div_center{
    display: flex;
    justify-content: center;
    margin-left: 10vw;
    margin-right: 10vw;
}

#char_o:hover{
    transform: translate(10%, 20%);
    transition: ease 150ms;
}

#char_e:hover{
    transform: translate(10%, -20%);
    transition: ease 150ms;
}

#char_e:hover, #char_o:hover{
    color: #DB324D;
    transition: ease 150ms;
}

#char_s:hover{
    transform: translate(-10%, 20%);
    color:#FF8C42;
    transition:ease 150ms;
}

#s_w:hover{
    color:#FF8C42;
    transition:ease 150ms;
}

